.header {
    background-color: var(--text-color-accent);
    border-bottom: 1px solid var(--header-border-bottom-color);
}
.header__link {
    @extend %flex;
    color: var(--body-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-width 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
    font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    }

    &:hover,
    &:focus {
    color: var(--accent-color);
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .header__link--header-mail {
     padding-top: 15px;
}
    .header__link--header-phone {
    padding-bottom: 15px;
}
    .header__item:first-of-type {
     margin-bottom: 10px;
   }
}

.header__contacts {
    display: none;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: auto; 
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-left: auto; 
    }
}

.header__content {
    @extend %flex;
    flex-wrap: wrap;
}

.header__icon {
    margin-right: 10px;
    stroke: currentColor;   
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-width 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header__link:hover &,
    .header__link:focus & {
    stroke: currentColor; 
    stroke-width: 3px;
}
}
.header__item + .header__item {
    @media screen and (min-width: 1200px) {
        margin-left: 50px;
    } 
}
