
  .form {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
      width: 448px;
    }
}
.modal-form__item {
    margin-bottom: 10px;
}
.modal-form__input,
.modal-form__comments {
    margin: 0;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.modal-form__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.modal-form__field {
    position: relative;
   
   &:not(:last-of-type) {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
} 
}
.modal__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    fill: var(--title-text-color);
    transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:focus-within > .modal__icon {
    fill: var(--accent-color);
}
.modal-form__field:focus-within > .modal-form__input {
  border-color: var(--accent-color);
}
.modal-form__input {
  width: 100%;
  margin: 0;
  padding: 12px 16px 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
  outline: none;
}
}
.modal-form__comments {
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color:rgba(117, 117, 117, 0.5);

  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}
  &:focus {
  outline: none;
  border-color: var(--accent-color);
}
}

.modal__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 55px 10px 56px;

  &:focus,
  &:hover {
  background-color: var(--button-focus-color);
}
}

.checkbox-field {
 margin-bottom: 30px;
 font-size: 12px;
 line-height: 1.16;
 text-align: justify;
 
 @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox__label::before {
  display: inline-block;
  content: " ";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  vertical-align: middle;
  background-image: url(../images/checkbox-icon.svg);
  cursor: pointer;

  .checkbox:checked + &  {
  background-size: contain;
  background-origin: border-box;
  background-image: url(../images/checked-icon.svg);
}
}

.checkbox__link {
  color: var(--accent-color);
}
