
/*блок преимущества*/
.advantages {
    @media  screen and (max-width: 1199px) {
        padding-bottom: 0;
    }
}
.advantages__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        margin-top: calc(-1 * var(--card-set-gap)); 
        margin-left: calc(-1 * var(--card-set-gap));
    }
   
}
.advantages__item {
    flex-basis: 100%;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin-left: var(--card-set-gap);
      margin-top: var(--card-set-gap);
    }
  
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 4 * 30px) / 4);
    }
}
/*
.advantages-item::before {
    margin-bottom:  var(--card-set-gap);
    display: block;
    content: " ";
    height: 120px;
    background-color: var(--background-color-section);
    background-repeat: no-repeat;
    background-position: center;
}
.first-icon::before {
   background-image: url(//images/icons.svg);
}
.second-icon::before {
    background-image: url(../images/Vector-1.svg);
}
.third-icon::before {
    background-image: url(../images/Vector-2.svg);
}
.fourth-icon::before {
    background-image: url(../images/astronaut.svg);
}
*/


.advantages__icons {
   @extend %flex;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  margin-bottom: var(--card-set-gap);
  background-color: var(--background-color-section);
}
.advantages__caption {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);

    @media screen and (max-width: 768px) {
    text-align: center;
}
}
.advantages__description {
    font-size: 14px;
    line-height: 1.71;

    @media screen and (max-width: 768px) {
       margin-bottom: var(--card-set-gap);
    }
}
