

/*examples - чем мы занимаемся*/

.examples {
    padding-top: 0;
    
    @media  screen and (max-width: 1199px) {
        display: none;
    }   
    }
.examples__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.examples__item {
    position: relative;

     &:not(:last-child) {
    margin-right: var(--card-set-gap);
}
}
.examples__text {
    position: absolute;
    @extend %flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-accent);
    background-color: rgba(47, 48, 58, 0.8);
}
